<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Booking</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="onSubmit()" #bookingForm="ngForm">
    <ion-item>
      <ion-label position="floating">Date</ion-label>
      <ion-datetime [(ngModel)]="bookingDetails.date" name="date" required></ion-datetime>
    </ion-item>
    
    <ion-item>
      <ion-label>Payment Method</ion-label>
      <ion-select [(ngModel)]="paymentMethod" name="paymentMethod" (ionChange)="onPaymentMethodChange($event)" required>
        <ion-select-option value="cash">Cash</ion-select-option>
        <ion-select-option value="online">Online</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="paymentMethod === 'cash'">
      <ion-label position="floating">Amount</ion-label>
      <ion-input [(ngModel)]="bookingDetails.payment" name="payment" type="number" [min]="tripPrice" required></ion-input>
    </ion-item>

    <ion-item *ngIf="paymentMethod === 'online'">
      <ion-label position="floating">Payment Details</ion-label>
      <ion-input [(ngModel)]="bookingDetails.payment" name="payment" type="text" required></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" color="dark" [disabled]="!bookingForm.valid">Submit</ion-button>
  </form>
</ion-content>
